/*the tag your selecting to edit ->*/body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* If adding a "." prefix to a tag, creating a class. No "." prefix means targeting every tag.*/
header {
    background-color: #25811b;
    text-align: center;
    padding: 20px;
  }

/* Navigation Bar Container */
.topnav {
    overflow: hidden;
    background-color: #333;
}
/* Navigation Bar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
/* Navigation Bar Links - changes color on hover */
.topnav a:hover {
    background-color: rgb(189, 189, 189);
    color: black;
  }

  .column {
    float: left;
    text-align: center;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }