/*the tag your selecting to edit ->*/body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    height: 100%;
    min-height: 100%;
}
/* If adding a "." prefix to a tag, then targeting a class. No "." prefix means targeting every tag that you chose.*/
header {
    background-color: #b45a06;
    text-align: center;
    padding: 20px;
  }
footer {
  text-align: center;
  padding: 5px;
  background-color: #333;
  color: white;
  position : absolute;
  bottom : 0;
  height : 40px;
  margin-top : 40px;
  width: 100%;
}

/* Navigation Bar */
.topnav ul {
    list-style-type: none; /* sets the list style to none (removes bullet points) */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.active {
  background-color: #924905;
}
.topnav li {
  float:left;
  border-right: 1px solid #bbb;
}
.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Navigation Bar Links - changes color on hover */
.topnav li a:hover {
  background-color: #111;
  }
  .column.third {
    width: 33%;
  }
  .column {
    float: left;
    text-align: center;
    height: auto;
  }
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other*/
  @media screen and (max-width: 600px) {
    .column.side, .column.middle, .column.third {
      width: 100%;
    }
  }
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  table, th, td {
    text-align: center;
    margin: auto;
  }
  th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  tr:hover {
    background-color: #b45a06;
  }
  .form input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  .form [type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #999
  }
  .form [type=text]:focus {
    border: 3px solid #555
  }
  .form input[type=text]:focus {
    width:50%;
  }
